<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
  />
  <!-- Bootstrap -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
  <!-- Lodash -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="menu.js"></script>
</head>

<body>
  <div id="app">
    <menu-bar></menu-bar>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 mt-5 text-muted">
          <br />
          <br />
          <br />

          <p class="display-4">{{ title }}</p>

          <div class="mt-4">
            <p>Experiments with generative SVG and animation.</p>

            <p>
              Code is in Javascript and is completely contained in each HTML
              file. Just view the source for the page in the browser.
              Also stored at <a href="http://github.com/boscoh/svgart">http://github.com/boscoh/svgart</a>
            </p>

            <div class="my-3 list-group">
              <a
                class="list-group-item list-group-item-action"
                v-if="menuItem.name !== 'Home'"
                v-for="menuItem in menuItems"
                :href="`./${menuItem.html}`"
                >{{menuItem.name}}
              </a>
            </div>
          </div>

          <br />
          <br />
          <br />
          Bosco Ho
          <br /><a href="http://boscoh.com">boscoh.com</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      components: {
        vueSlider: window['vue-slider-component'],
        menuBar:
          typeof menuBarComponent == 'undefined'
            ? { template: '<div></div>' }
            : menuBarComponent
      },
      data: {
        title: 'SVGArt'
      },
      mounted () {
        window.document.title = this.title
      },
      computed: {
        menuItems () {
          return typeof menuItems === 'undefined' ? [] : menuItems
        }
      }
    })
  </script>
</body>
